<%= form_for(@post) do |f| %>
  <%= render 'layouts/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.bootsy_area :body, class: "form-control", rows: "12" %>
  </div>

  <div class="form-group">
    <%= f.button :submit, class: "btn btn-default" %>
  </div>
<% end %>
